
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1>Welcome to Amazon</h1>
                    <p>
                        Discover millions of products with fast delivery and amazing deals
                    </p>
                    <button class="cta-button">Start Shopping Now</button>
                </div>
                <div class="col-lg-6">
                    <div class="text-center position-relative" style="height: 400px">
                        <!-- Animated Box -->
                        <div class="box-container">
                            <i class="fas fa-box-open box-icon" id="mainBox"></i>

                            <!-- Add these new elements -->
                            <i class="fas fa-truck delivery-car" id="deliveryCar"></i>

                            <!-- Flying Products -->
                            <div class="flying-products">
                                <i class="fas fa-headphones product-item"
                                   style="--delay: 0.5s; --start-x: -200px; --start-y: -100px"></i>
                                <i class="fas fa-laptop product-item"
                                   style="--delay: 1s; --start-x: 200px; --start-y: -150px"></i>
                                <i class="fas fa-mobile-alt product-item"
                                   style="--delay: 1.5s; --start-x: -150px; --start-y: 100px"></i>
                                <i class="fas fa-book product-item"
                                   style="--delay: 2s; --start-x: 180px; --start-y: 120px"></i>
                                <i class="fas fa-gamepad product-item"
                                   style="--delay: 2.5s; --start-x: -250px; --start-y: 50px"></i>
                                <i class="fas fa-camera product-item"
                                   style="--delay: 3s; --start-x: 220px; --start-y: -80px"></i>
                                <i class="fas fa-watch product-item"
                                   style="--delay: 3.5s; --start-x: -180px; --start-y: -120px"></i>
                                <i class="fas fa-tv product-item"
                                   style="--delay: 4s; --start-x: 160px; --start-y: 90px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>