<button id="backToTop" title="Back to Top" class="btn btn-dark rounded-circle position-fixed bottom-0 end-0 m-3" style="width: 50px; height: 50px; display: none;">
    <i class="fas fa-arrow-up"></i>
</button>
<script>
     // Back to top button
         const backToTopButton = document.getElementById('backToTop');
            window.addEventListener('scroll', function() {
        if (window.scrollY > 380) {
            backToTopButton.style.display = 'block';
        }
        else {
            backToTopButton.style.display = 'none';
        }
    });

        backToTopButton.addEventListener('click', function() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
</script>