<style>
    #chatBotBtn:hover{
        transform:scale(1.05);
        transition:ease all 1s;
    }
</style>

<a href="/AIChatbot" id="chatBotBtn" title="Chat Bot" class="btn btn-warning rounded-circle  end-0 m-3 d-flex align-items-center justify-content-center" style="position:fixed;bottom:65px;display:block;z-index:11;width: 55px; height: 55px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <i class="fas fa-comment-dots fs-5"></i>
</a>