<div class="col-md-3 mb-4">
    <div class="account-sidebar p-3">
        <h5 class="mb-3">Your Account</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href=" /Profile/Index">
                    <i class="fas fa-user me-2"></i> Account Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href=" /Profile/Orders">
                    <i class="fas fa-box-open me-2"></i> Your Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profile/LoginAndSecurity">
                    <i class="fas fa-lock me-2"></i> Login & Security
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CustomerService/Index">
                    <i class="fas fa-ticket-alt me-2"></i> Support Tickets
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CustomerService/Chats">
                    <i class="fas fa-comments me-2"></i> Live Chat
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" /Profile/staticPages?page=faq">
                    <i class="fas fa-gift me-2"></i> Pre-Order FAQs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" /Profile/staticPages?page=app">
                    <i class="fas fa-credit-card me-2"></i> Amazon App
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href=" /Profile/Messages">
                    <i class="fas fa-envelope me-2"></i> Your Messages
                </a>
            </li>
            @* <li class="nav-item">
                <a class="nav-link" href="  /Profile/staticPages?page=contact">
                    <i class="fas fa-headset me-2"></i> Contact Us
                </a>
            </li> *@
        </ul>
    </div>
</div>