<header class="bg-dark py-2">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a href="#" class="navbar-brand">
                <img src="https://www.amazon.com/favicon.ico" alt="Amazon" height="30">
            </a>
            <div class="d-flex align-items-center">
                <span class="text-white me-3">Hello, @User?.Identity.Name</span>
                <a href="#" class="text-white"><i class="fas fa-shopping-cart fa-lg"></i></a>
            </div>
        </div>
    </div>
</header>