@using Final_project.Services.Customer
@model PagedResult<chat_message>
<div id="messages-list">
    @foreach (var msg in Model.Items)
    {
        <!-- Message -->
        <div class="message-card unread">
            <div class="row">
                <div class="col-md-1 d-flex align-items-center">
                    <input type="checkbox" class="form-check-input msg-checkbox" value="@msg.id">
                </div>

                <div class="col-md-8">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-1">Amazon Customer Service</h6>
                        <small class="text-muted">@msg.sent_at</small>
                    </div>
                    @if (msg.is_read == true)
                    {
                        <p class="mb-1 text-muted"> <i class="fas fa-check-circle text-success"></i>Read</p>
                    }
                    else
                    {
                        <p class="mb-1 text-primary fw-bold"><i class="fas fa-exclamation-triangle me-1"></i>Unread</p>
                    }


                    <p class="mb-0 text-truncate">@msg.message</p>
                </div>
                <div class="col-md-2 d-flex align-items-center justify-content-end message-actions">
                    <button class="btn btn-sm btn-outline-secondary deleteMsgBtn" data-id="@msg.id"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>

    }


</div>